<div id="modal-1" class="modal-overlay" aria-hidden="true">
    <div tabindex="-1" >
        <div role="dialog" aria-modal="true" class="dialog" >
            <header>
                <h2 id="modal-1-title">
                    Modal Title
                </h2>
                <button aria-label="Close modal"  class="dialog__close" onclick="MicroModal.close('modal-1')">X</button>
            </header>
            <div id="modal-1-content">
                {{> modal-content/modal-form}}
            </div>
        </div>
    </div>
</div>