main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article {
  width: 760px;
  margin: auto;
}

.anchor {
  font-weight: bold;
  font-size: 16px;
  width: 20px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: 1px solid black;
  background-color: lightseagreen;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  anchor-name: --anchor;
}

.tooltip {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  margin: 0;
  background-color: tomato;

  position-anchor: --anchor;
  position-area: right top;
  position-try: --top-then-bottom;
}

@position-try --top-then-bottom {
  position-area: left bottom;
}