<form class="form">
    <label>First Name <input type="text"/></label>
    <label>Last Name <input type="text"/></label>
    <label>E-mail <input type="text"/></label>
</form>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet asperiores assumenda, dignissimos doloribus, esse fugiat harum id illo ipsa ipsum iste itaque, necessitatibus nisi obcaecati possimus quasi unde voluptatem.</p>
<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>